/* animation */
@keyframes header-title {
  0% { 
    opacity: 0;
    transform: translateX(-100vw)
  }
  
  100% { 
    opacity: 1;
    transform: translateX(0)
  }
}


@keyframes neon3 {
  0% {
    box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 25px #fff, 0 0 30px #FEBC25,
      0 0 35px #FEBC25, 0 0 40px #FEBC25, 0 0 45px #FEBC25, 0 0 50px #FEBC25;
  }
  50% {
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #FEBC25,
      0 0 12px #FEBC25, 0 0 14px #FEBC25, 0 0 16px #FEBC25, 0 0 18px #FEBC25;
  }
  100%{
    box-shadow: 0px 0px 0px;
  }
}

@keyframes roadmap-child {
  0% { 
    filter: drop-shadow(0 0 2px #000);
  }
  
  100% { 
    filter: drop-shadow(0 0 20px #A3FFFF);
  }
}

@keyframes buy {
  0% { 
    transform: scale(0.97)
  }
  
  100% { 
    transform: scale(1)
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 4px #CD85C3, 0 0 5px #CD85C3, 0 0 6px #CD85C3, 0 0 6px #CD85C3, 0 0 8px #CD85C3;
  }
  
  to {
    text-shadow: 0 0 1px #fff, 0 0 3px #5E80FC, 0 0 4px #5E80FC, 0 0 5px #5E80FC, 0 0 6px #5E80FC, 0 0 7px #5E80FC, 0 0 8px #5E80FC;
  }
}

@keyframes glowing-born {
  from {
    filter: drop-shadow(-2px 1px 3px #470041);
    transform: scale(1.25) translateY(0px);
  }
  
  to {
    filter: drop-shadow(-2px 1px 7px #1BD3F2);
    transform: scale(1.25) translateY(5px);
  }
}

@keyframes glowing-shoe {
  from {
    filter: drop-shadow(-4px 1px 12px #B757D7);
  }
  
  to {
    filter: drop-shadow(-4px 1px 12px #1BD3F2);
  }
}

@keyframes glowing-born-social {
  from {
    box-shadow :-2px 1px 12px #360138;
  }
  
  to {
    box-shadow :-2px 1px 21px #1BD3F2;
  }
}

@keyframes ball-breathing{
    0% {
        box-shadow:
            0 0 2px 2px rgba(255, 255, 255, 0.581),
            0 0 4px 2px #43D5D4,
            0 0 8px 6px #26FFF5;
    }

    100%{
        box-shadow:
            0 0 8px 8px rgba(255, 255, 255, 0.581),
            0 0 12px 15px #43D5D4,
            0 0 20px 25px #26FFF5;
    }
}

@keyframes letter-glowing{
    0% {
        filter: drop-shadow(1px 1px 1px #9ADCF9);
    }

    100%{
        filter: drop-shadow(5px 5px 5px #9ADCF9);
    }
}

@keyframes why-img {
  0% { 
    box-shadow: 
    rgba(240, 46, 169, 0.227) -5px -5px;
    transform: translate(5px,0)
  }
  
  100% { 
    box-shadow: 
    rgba(240, 46, 170, 0.4) -5px -5px, 
    rgba(240, 46, 170, 0.3) -10px -10px, 
    rgba(240, 46, 170, 0.2) -15px -15px,
    rgba(240, 46, 170, 0.1) -20px -20px;
    /* rgba(240, 46, 170, 0.05) -25px 25px; */
    transform: translate(0,5px)
  }
}

@keyframes rotate-360 {
  0% { 
    transform: rotate(0);
  }
  
  100% { 
    transform: rotate(360deg);
  }
}

@keyframes fly-shoe {
  0% { 
    transform: translateY(0) translate(-50%,-50%) rotate(30deg) scale(1.2);
  }
  
  100% { 
    transform: translateY(5px) translate(-50%,-50%) rotate(30deg) scale(1.2);
  }
}

@keyframes roadmap-move {
  0% { 
    transform: translateY(0);
  }
  
  100% { 
    transform: translateY(10px);
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

html{
  background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

body,
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: hidden;
}

/* MAIN */
body{
  /* height: 1400px; */
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  z-index: -1;
}   

.header-title{
    height: 50px;
    margin: 20px 0;
}

.header-title img{
    height: 100%;
    width: auto;
    transition: all 0.3s ease-in-out;
    animation: header-title 1s ease-in-out;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;

    padding: 30px 20px;

    border-top: 2px solid #AD17BB;
    border-bottom: 2px solid #AD17BB;
}

.header-item{
    text-transform: uppercase;
    font-weight: 500;
}

.header-item:hover{
    cursor: pointer;
    animation: glow 1s ease-in-out infinite alternate;
}

.header-item.active{
    animation: glow 1s ease-in-out infinite alternate;
}

/* INTRO */

.intro{
  margin-bottom: 30px;
  color: #fff;
  position: relative;
}

.intro-img-body{
  animation: header-title .5s ease-in-out;
  transform-style: preserve-3d;
  width: 90%;

  position: relative;
}

.intro-img-shoe{
  position: absolute;
  transition: all 0.3s ease-in-out;
  animation: glowing-shoe 2s ease-in-out infinite alternate;
}

.intro-img-shoe-left{
  width: 13%;
  right: 71%;
  bottom: -4.6%;
  transform: rotate(7deg);
}

.intro-img-shoe-right{
  width: 23%;
  right: 27.2%;
  bottom: -4.6%;
  transform: rotate(-1deg);
}

.intro-title{
  text-transform: uppercase;
  font-weight: 800;
  color: #478FFE;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

.intro .title-white{
  font-size: 20px;
}

.title-paragraph{
    color: #ddd;
    font-style: italic;
    letter-spacing: 1px;
    text-align: justify;
    margin: 20px 0;
    font-size: 15.8px;
}

.intro-desc{
  font-size: 20px;
}

.intro .title-primary-blue{
  font-size: 28px;
}

.born-images{
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}

.wrapper-text{
  display: flex;
  align-items: center;
}

.wrapper-text .title-primary-blue{
  margin: 0 4px;
}

.born-images-item{
    transition: all 0.3s ease-in-out;
    position: relative;
}

.born-images-item img{
  width: 100%;
  height: auto;
  transform: scale(1.25);
  transition: all 0.3s ease-in-out;
  animation : glowing-born 2s ease-in-out infinite alternate;
}

.born-images-item:hover{
  cursor: pointer;
  transform: scale(0.98);
}

.born-images-item:nth-child(2) img,
.born-images-item:nth-child(4) img{
  animation-delay: 0.8s;
}

.born-images-item:nth-child(3) img{
  animation-delay: 1.2s;
}

/* lamp motherfucker */
.lamp{
  animation: ball-breathing 2s infinite alternate;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.581);
  border-radius: 50%;
  width: 1px;
}

.born-images-item:nth-child(3) .lamp{
  top: 26%;
  left: 70%;
}

/* WHY */
.why{
  margin: 100px 0;
  position: relative;
}


.why-images {
  position: relative;
}


.why-images img{
  transition: all 0.3s ease-in-out;
  box-shadow: 
    rgba(240, 46, 169, 0.227) -5px -5px;
    transform: translate(5px,0);
  animation: why-img 5s infinite alternate;
}

.why-images img:hover{
  cursor: pointer;
  transform: scale(0.98);
}

.why-images img:nth-child(1){
  animation-delay: 1.5s;
}


.why-images img:nth-child(2){
  animation-delay: 3s;
}

.why-images-left{
  display: flex;
  flex-direction:column;
  align-items: end;
  margin-right: 20px;
}

.why-images-left img:nth-child(1){
  width: 180px;
  margin-bottom: 20px;
}

.why-images-left img:nth-child(2){
  width: 140px;
}

.value{
  background-color: rgba(0, 0, 0, 0.492);
  padding: 20px 50px 30px;
}

.marketplace{
  margin: 100px 0;
}

.marketplace-title-img img{
  width: 80%;
}

.marketplace-title{
  font-size: 34px;
  color: #fff;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 6px;
  text-shadow: -4px -2px rgb(0 0 0 / 59%);
}

.marketplace-wrapper{
  display: flex;
  margin: 30px 0;
}

.marketplace-cart{
  width: 20%;
  transition: all 0.3s ease-in-out;
  transform: scale(0.98);
}

.marketplace-cart.active{
  transform: scale(1.1);
}

.marketplace-cart.cart-center{
  transform: scale(1.2);
}

.marketplace-cart-content{
  position: relative;
}

.marketplace-cart-content-border{
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #6B43F7 0%, #E614C3 100%);
  box-shadow: #e614c394 0px 2px 30px 0px;
  border-radius:50%;
  position: relative;
  animation: rotate-360 4s infinite alternate;
}

.marketplace-cart-content-border::after{
  content: '';
  position: absolute;
  height: 94%;
  width: 94%;
  top: 50%;
  left: 50%;
  background-color: #2b0049;
  border-radius: 50%;
  transform: translate(-50%,-50%);
}

.marketplace-cart-rarity{
  letter-spacing: 2px;
  font-weight: 700;
  font-style: italic;
  margin: 10px 0;
  user-select: none;
  background-image: linear-gradient(180deg, #71BAFF 0%, #E6A6FF 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.marketplace-cart-content-standing{
  position: absolute;
  left: 48.6%;
  bottom: -16.9%;
  transform: translateX(-50%);
  width: 94%;
}

.marketplace-cart-content-shoe{
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%,-50%) rotate(30deg) scale(1.2);
  z-index: 1;
  animation: fly-shoe 2s infinite alternate;
}

.marketplace-cart-content-shoe--2{
  animation-delay: 0.5s;
}

.marketplace-cart-content-shoe--3{
  animation-delay: 1s;
}

.marketplace-cart-content-shoe--3{
  animation-delay: 1.5s;
}

.marketplace-cart-content-shoe img{
  transition: all 0.3s ease-in-out;
}

.marketplace-cart-content-shoe:hover img{
  cursor: pointer;
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 5px #9ADCF9);
}

.marketplace-cart-content-effect{
  position: absolute;
  height: 60%;
  width: 90%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.option{
  margin: 100px 0;
  color: #fff;
}

.option-item{
  padding: 10px 0;
  position: relative;
}

.option .col-md-3::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height:100%;
  width: 2px;
  background-image: linear-gradient(0deg, #6B43F7 0%, #E614C3 72%);
}

.option-image {
  height: 70px;
  margin-bottom: 10px;
}

.option-image.last{
  padding: 15px 0;
}

.option-image img{
  height: 100%;
  width: auto;
}

.option-title{
  text-align: center;
  font-weight: 600;
}

.modal.show .modal-dialog{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto !important;
}

.fade{
  transition: opacity 0.3s linear;
}

.modal-content{
  width: auto;
  border-radius: 30px;
}

.modal-content .marketplace-cart{
  width: 270px;
  /* height: 300px; */
}

.shoe-modal{
  background-image: url(../images/shoe-modal-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  padding: 10px 20px 50px;
  position: relative;
}

.close-custom{
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-custom:hover{
  cursor: pointer;
  opacity: 0.9;
}

.close-custom img{
  width: 30px;
}

.reward{
  padding: 40px 20px 20px;
  position: relative;
}

.reward-item-buy{
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.reward-item-buy img{
  width: 60% !important;
  transition: all 0.5s ease-in-out;
  animation: buy 2s linear infinite alternate;
}

.reward-item-buy:hover img{
  filter: drop-shadow(10px 5px 15px #F7B424);
}

.reward-item img{
  width: 300px;
}

.reward-item:not(:last-child){
  margin-bottom: 10px;
}

.modal-content .marketplace-cart-rarity{
  font-size: 30px;
}

.reward.bonus{
  padding-bottom: 140px;
}

.reward-bonus{
  position: absolute;
  bottom: -10%;
  left: -10%;
  width: 100%;
}

.app{
  display: flex;
  margin: 20px 0;
}

.app-item:first-child{
  margin-right: 10px;
}

.app-item{
  transition: all 0.3s ease-in-out;
}

.app-item:hover{
  cursor: pointer;
  transform: scale(0.98);
}


.value-title{
  margin: 20px 0;
  position: relative;
}

.value-title img{
  width: 250px;
}

.value-wrapper{
  display: flex;
  align-items: center;
}

.value-item{
  width: 33.333%;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.value-item-icon{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin: 10px 0 20px;
}

.value-item-text{
  padding-top: 80px;
}

.value-item-icon{
  position: absolute;
  bottom: -200%;
}

.value-item-icon img{
  animation: roadmap-child 0.5s infinite alternate-reverse;
}

.value-item-icon img:first-child{
  width: 60%;
}

.value-item-icon img:nth-child(2){
  width: 70%;
}

.value-item-icon img:last-child{
  width: 80%;
  animation-delay: 0.25s;
}

.value-item-icon--1{
  transform: rotate(60deg) translate(-190%,190%);
}

.value-item-icon--2{
  bottom: -210%;
}

.value-item-icon--3{
  transform: rotate(-60deg) translate(190%,190%);
}

.value-item:nth-child(2) .value-item-text{
  padding-top: 140px;
}

.intro-row{
  display: flex;
  align-items: center;
}

.about-title img{
  height: 80px;
  width: auto;
}

.about-desc{
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: -4px -2px rgb(0 0 0 / 59%);
}

.value-desc{
  font-weight: 300;
}

.binan-title img{
  width: 50%;
}

.roadmap{
  position: relative;
}

.night-roadmap{
  top: -10%;
  right: -10%;
  transform: rotateZ(148deg) !important;
}

.roadmap-title img{
  width: 50%;
}

.roadmap-item{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  transition: all 0.3s ease-in-out;
}

.roadmap-content{
  margin: 70px 0;
}

.roadmap-item--1 .roadmap-item-img{
  align-items: start;
}

.roadmap-item--2 .roadmap-item-img{
  animation-delay: 0.5s;
}

.roadmap-item--3 .roadmap-item-img{
  animation-delay: 1s;
}

.roadmap-item--4 .roadmap-item-img{
  animation-delay: 1.5s;
}

.roadmap-item--5 .roadmap-item-img{
  align-items: end;
}

.roadmap-item-img{
  z-index: 2;
  animation: roadmap-move 3s linear infinite alternate;
}

.roadmap-item-img img{
  width: 240px;
  transition: all 0.3s ease-in-out;
}


.roadmap-item-img img:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: drop-shadow(5px 5px 5px #febd2596);
}

.roadmap-item--1 .roadmap-item-time,
.roadmap-item--3 .roadmap-item-time ,
.roadmap-item--5 .roadmap-item-time {
  margin-bottom: 10px;
}

.roadmap-item--2 .roadmap-item-time,
.roadmap-item--4 .roadmap-item-time  {
  margin-top: 10px;
}

.roadmap-item--2{
  transform: translate(16%,0%)
}

.roadmap-item--4{
  transform: translate(-13%,-19%)
}

.roadmap-item-text{
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 10px 15px;
  background-image: url(../images/road-map-text-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;

  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadmap-item-date{
  font-weight: 800;
  font-size: 26px;
}

.roadmap-item {
  position: relative;
}

.road-map-line{
  position: absolute;
  height: 80%;
  width: 4px;
  background-color: #FEBC25;
  transition: all 0.3s ease-in-out;
  animation: neon3 2s ease-in-out infinite alternate;
}

.road-map-line-1{
  right: 25%;
  bottom: -51%;
  transform: rotate(135deg);
  
}

.road-map-line-2{
  right: 26%;
  bottom: 49%;
  transform: rotate(45deg);
  animation-delay: 0.3s;
}

.road-map-line-3{
  right: 18%;
  bottom: -60%;
  transform: rotate(130deg);
  animation-delay: 0.6s;
}

.road-map-line-4{
  right: 34%;
  bottom: 29%;
  transform: rotate(53deg);
  animation-delay: 0.9s;
}

.app{
  margin: 40px 0;
}

.app .roadmap-item-img{
  animation: none;
}

.app .roadmap-item-time{
  margin: 10px 0;
}

.video-title{
  background-image: linear-gradient(180deg, #FEC02A 31%, #FEA005 100%);
  font-size: 40px;
}

.video-content{
  position: relative;
}

.video-content-button{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15%;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%,-50%);
}

.video-content-button img{
  transition: all 0.3s ease-in-out;
}

.video-content-button img:hover{
  cursor: pointer;
  transform: scale(0.9) rotate(7deg);
  filter: drop-shadow(5px 5px 5px #febd2596);
}

.video-content-logo{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
  width: 6%;
}

.partner{
  margin-top: 100px;
}

.partner-title{
  font-size: 35px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
  font-style: normal;
}

.partner-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partner-item{
  padding: 0 10px;
  margin-bottom: 10px;
  width: 20%;
}

.footer{
  height: 100vh;
  position: relative;
}

.footer-content{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.footer-content .container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-bg{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.footer-bg img{
  width: auto;
  height: 100%;
  -webkit-mask-image: linear-gradient(0deg, #000 80%, rgba(254, 160, 5, 0) 100%);
  mask-image: linear-gradient(0deg, #000 80%, rgba(254, 160, 5, 0) 100%);
}

/* 
.footer-title img{
  width: 80%;
} */

.social{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 10px 80px;
  border-radius: 80px;
  background-color: rgba(0, 0, 0, 0.481);
  transition: all 0.3s ease-in-out;
  animation: glowing-born-social 2s ease-in-out infinite alternate;
}

.social-item:not(:last-child){
  margin-right: 30px;
}

.social-item img{
  width: 50px;
}



@-webkit-keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.buzz-out-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out-on-hover:hover, .buzz-out-on-hover:focus, .buzz-out-on-hover:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* BONUS */
#exampleModalVideo .modal-body{
    flex-direction: column;
}

#exampleModalDoc .modal-dialog,
#exampleModalVideo .modal-dialog{
    max-width: 800px !important;
}


#exampleModalDoc .modal-content{
  width: 98%;
  background-color: transparent;
}

#exampleModalVideo .modal-content{
  width: 98%;
  border: 4px solid #630bc2eb;
  background-color: #3a1067cc;
}

#exampleModalVideo .video-content{
  width: 98%;
}

#exampleModalVideo .modal-header{
  border-bottom: 2px solid #630bc2eb;
}

#exampleModalVideo .modal-footer{
  border-top: 2px solid #630bc2eb;
}

#exampleModalVideo .video-content iframe{
  height: 400px;
}

#exampleModalVideo .modal-content,
.modal-title{
  color: #fdb52f;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

#exampleModalVideo .modal-content,
iframe{
  border-radius: 20px;
}

#exampleModalVideo .modal{
    width: 100vw;
}

#exampleModalVideo .modal-control-item,
#exampleModalVideo .video-content-item{
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #78C9FF 13%, #E6A5FF 73%, #8B89F3 100%);
    color: #fff;
    margin-right: 4px;
    margin-top: 4px;
    border-radius: 10px;
    border: 4px solid #3a10679a;
    font-weight: 700;
}

#exampleModalVideo .modal-control-item i,
#exampleModalVideo .video-content-item i{
  color: #fff;
}

#exampleModalVideo .modal-control-item:hover,
#exampleModalVideo .video-content-item.active,
#exampleModalVideo .video-content-item:hover{
    cursor: pointer;
    background-color: #3A1067;
    color: #1E0934;
}

#exampleModalVideo .modal-control-item:hover,
#exampleModalVideo .video-content-item.active,
#exampleModalVideo .video-content-item:hover{
  color: #3A1067;
}

#exampleModalVideo .modal-footer button{
  background-image: linear-gradient(180deg, #78C9FF 13%, #E6A5FF 73%, #8B89F3 100%);
  border-radius: 10px;
  border: 4px solid #3a10679a;
  font-weight: 700;
}

#exampleModalVideo .modal-control{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 115%;
    display: flex;
    justify-content: space-between;
}

#exampleModalVideo .modal-control-item{
    z-index: 2;
}

.video-content-list{
  flex-wrap: wrap;
  justify-content: center;
}

#exampleModalVideo .modal-footer button{
  width: 100%;
  max-width: 300px;
}

.name-this-shit-tower{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 22%;
  right: 46.98%;
}

.name-this-shit-tower img{
  width: 80%;
  margin-bottom: 40%;
  transition: all 0.3s ease-in-out;
  animation: letter-glowing 2s linear infinite;
}

.name-this-shit-tower img:nth-child(2){
  animation-delay: 0.3s;
}

.name-this-shit-tower img:nth-child(3){
  animation-delay: 0.6s;
}

.name-this-shit-tower img:nth-child(4){
  animation-delay: 0.9s;
}

.name-this-shit-tower img:nth-child(5){
  animation-delay: 1.2s;
}

.name-this-shit-tower img:nth-child(6){
  animation-delay: 1.5s;
}

.name-this-shit-tower img:nth-child(7){
  animation-delay: 1.8s;
}

.value-item-text .roadmap-item-text{
  margin: 0 10px;
  font-size: 16px;
  font-weight: 700;
  color: #E6B2FF;
}

.intro-content .about-title{
  font-size: 30px;
  font-style: normal;
}

/* start */

@keyframes tail {
    0% {
    width: 0;
    }

    30% {
    width: 100px;
    }

    100% {
    width: 0;
    }
}

@keyframes shining {
  0% {
    width: 0;
  }
  
  50% {
    width: 30px;
  }
  
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(300px);
  }
}

.night {
  position: absolute;
  width: 50%;
  height: 100%;
  transform: rotateZ(29deg);
}

.night-footer{
  top: -10%;
  left: -10%;
}

.shooting_star {
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 height: 2px;
	 background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
	 border-radius: 999px;
	 filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
	 animation: tail 5000ms ease-in-out infinite, shooting 5000ms ease-in-out infinite;
}
 .shooting_star::before {
	 content: "";
	 position: absolute;
	 top: calc(50% - 1px);
	 right: 0;
	 height: 2px;
	 background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
	 transform: translateX(50%) rotateZ(45deg);
	 border-radius: 100%;
	 animation: shining 5000ms ease-in-out infinite;
}
 .shooting_star::after {
	 content: "";
	 position: absolute;
	 top: calc(50% - 1px);
	 right: 0;
	 height: 2px;
	 background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
	 transform: translateX(50%) rotateZ(45deg);
	 border-radius: 100%;
	 animation: shining 5000ms ease-in-out infinite;
	 transform: translateX(50%) rotateZ(-45deg);
}
 .shooting_star:nth-child(1) {
	 top: calc(50% - -120px);
	 left: calc(50% - 242px);
	 animation-delay: 6413ms;
}
 .shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
	 animation-delay: 6413ms;
}
 .shooting_star:nth-child(2) {
	 top: calc(50% - -69px);
	 left: calc(50% - 278px);
	 animation-delay: 519ms;
}
 .shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
	 animation-delay: 519ms;
}
 .shooting_star:nth-child(3) {
	 top: calc(50% - 1px);
	 left: calc(50% - 243px);
	 animation-delay: 6457ms;
}
 .shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
	 animation-delay: 6457ms;
}
 .shooting_star:nth-child(4) {
	 top: calc(50% - -93px);
	 left: calc(50% - 276px);
	 animation-delay: 3476ms;
}
 .shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
	 animation-delay: 3476ms;
}
 .shooting_star:nth-child(5) {
	 top: calc(50% - -105px);
	 left: calc(50% - 189px);
	 animation-delay: 9174ms;
}
 .shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
	 animation-delay: 9174ms;
}
 .shooting_star:nth-child(6) {
	 top: calc(50% - -111px);
	 left: calc(50% - 176px);
	 animation-delay: 9910ms;
}
 .shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
	 animation-delay: 9910ms;
}
 .shooting_star:nth-child(7) {
	 top: calc(50% - 105px);
	 left: calc(50% - 90px);
	 animation-delay: 203ms;
}
 .shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
	 animation-delay: 203ms;
}
 .shooting_star:nth-child(8) {
	 top: calc(50% - -117px);
	 left: calc(50% - 126px);
	 animation-delay: 396ms;
}
 .shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
	 animation-delay: 396ms;
}
 .shooting_star:nth-child(9) {
	 top: calc(50% - 55px);
	 left: calc(50% - 87px);
	 animation-delay: 7006ms;
}
 .shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
	 animation-delay: 7006ms;
}
 .shooting_star:nth-child(10) {
	 top: calc(50% - 71px);
	 left: calc(50% - 201px);
	 animation-delay: 9075ms;
}
 .shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
	 animation-delay: 9075ms;
}
 .shooting_star:nth-child(11) {
	 top: calc(50% - 137px);
	 left: calc(50% - 249px);
	 animation-delay: 8903ms;
}
 .shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
	 animation-delay: 8903ms;
}
 .shooting_star:nth-child(12) {
	 top: calc(50% - -101px);
	 left: calc(50% - 78px);
	 animation-delay: 7899ms;
}
 .shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
	 animation-delay: 7899ms;
}
 .shooting_star:nth-child(13) {
	 top: calc(50% - -193px);
	 left: calc(50% - 168px);
	 animation-delay: 4887ms;
}
 .shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
	 animation-delay: 4887ms;
}
 .shooting_star:nth-child(14) {
	 top: calc(50% - -10px);
	 left: calc(50% - 268px);
	 animation-delay: 6810ms;
}
 .shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
	 animation-delay: 6810ms;
}
 .shooting_star:nth-child(15) {
	 top: calc(50% - -126px);
	 left: calc(50% - 32px);
	 animation-delay: 8015ms;
}
 .shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
	 animation-delay: 8015ms;
}
 .shooting_star:nth-child(16) {
	 top: calc(50% - 180px);
	 left: calc(50% - 273px);
	 animation-delay: 7970ms;
}
 .shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
	 animation-delay: 7970ms;
}
 .shooting_star:nth-child(17) {
	 top: calc(50% - 77px);
	 left: calc(50% - 284px);
	 animation-delay: 9369ms;
}
 .shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
	 animation-delay: 9369ms;
}
 .shooting_star:nth-child(18) {
	 top: calc(50% - 26px);
	 left: calc(50% - 267px);
	 animation-delay: 3641ms;
}
 .shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
	 animation-delay: 3641ms;
}
 .shooting_star:nth-child(19) {
	 top: calc(50% - 30px);
	 left: calc(50% - 48px);
	 animation-delay: 2910ms;
}
 .shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
	 animation-delay: 2910ms;
}
 .shooting_star:nth-child(20) {
	 top: calc(50% - 66px);
	 left: calc(50% - 25px);
	 animation-delay: 281ms;
}
 .shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
	 animation-delay: 281ms;
}

.night-why .shooting_star,
.night-why .shooting_star::before,
.night-why .shooting_star::after{
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #a62d9ac3, rgba(0, 0, 255, 0));
}

.night-roadmap .shooting_star,
.night-roadmap .shooting_star::before,
.night-roadmap .shooting_star::after{
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #febd25c0, rgba(0, 0, 255, 0));
}

.intro-gold{
  font-size: 20px;
  font-weight: 700;
}

.night-intro{
  top: -30%;
}

.scroll-to-top{
  position: fixed;
    bottom: 50px;
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #b041dca7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}

.scroll-to-top i{
  color: rgba(255, 255, 255, 0.506);
  transition: all 0.5s ease-in-out;
}

.scroll-to-top:hover{
  cursor: pointer;
  transform: scale(1.3);
}
.scroll-to-top:hover i{
  transform: scale(1.3) rotate(360deg);
}

.wrapper-text-right{
  justify-content: end;
}

.pdf {
  width: 100%;
  height: 700px;
}

.normal-shoe{
  transform: scale(0.85) rotate(-3deg) !important;
}



/* LOADING */

.loading{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-image: linear-gradient(135deg, #41007A 0%, #6667FF 48%, #41007A 100%);
}

.loading img:first-child{
  width: 140px;
}

.loading img:last-child{
  max-width: 300px;
}