
/* PC only */

@media (min-width: 1024px) {
    .hide-on-pc {
        display: none !important;
    }

}

/* Tablet to PC low resolution */
@media (min-width: 985px) and (max-width: 1200px) {
    
}

/* Tablet Only */

@media (min-width: 740px) and (max-width: 1023px) {
    .hidden-tl{
        display: none !important;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hidden-m-t {
        display: none !important;
    }

    body{
    background-size: auto 100%;
    }   
}

/* Mobile Only */
@media (max-width: 739px) {
    .hidden-m {
        display: none !important;
    }

}

/* 500*/
@media (min-width: 500px) and (max-width: 742px) {
    .hidden-500plus {
        display: none !important;
    }
}


@media (max-width: 500px) {
    .hidden-500{
        display: none !important;
    }
}


@media (max-width: 375px) {
    .main-content{
        width: 100% !important;
    }
}
