
/* PC only */

@media (min-width: 1024px) {
    .hide-on-pc {
        display: none !important;
    }

}

/* Tablet to PC low resolution */
@media (min-width: 985px) and (max-width: 1200px) {
    .hidden-pc-low{
        display: none;
    }
}

/* Tablet Only */

@media (min-width: 740px) and (max-width: 1023px) {
    .hidden-tl{
        display: none !important;
    }

    .marketplace-wrapper{
        flex-wrap: wrap;
    }

    .marketplace-cart{
        width: 50%;
        margin-top: 20px;
    }

    .marketplace .marketplace-cart-content-border{
        height: 260px;
        width: 260px;
    }

    .roadmap-item-img img{
        width: 100%;
    }

    .roadmap-content-mobile .roadmap-item--1,
    .roadmap-content-mobile .roadmap-item--3,
    .roadmap-content-mobile .roadmap-item--5{
       align-items: flex-start;
    }

    .roadmap-content-mobile .roadmap-item--1 .roadmap-item-img,
    .roadmap-content-mobile .roadmap-item--3 .roadmap-item-img,
    .roadmap-content-mobile .roadmap-item--5 .roadmap-item-img{
       display: flex;
       justify-content: start;
    }

    .roadmap-content-mobile .roadmap-item--2,
    .roadmap-content-mobile .roadmap-item--4{
       align-items: flex-end;
       transform: translate(0,0);
    }

    .roadmap-content-mobile .roadmap-item--2 .roadmap-item-img,
    .roadmap-content-mobile .roadmap-item--4 .roadmap-item-img{
        display: flex;
        justify-content: end;
    }

    .road-map-line{
        height: 140%;
    }

    .road-map-line-1 {
        right: 58%;
        bottom: -99%;
        transform: rotate(141deg);
    }

    .road-map-line-2 {
        right: 51%;
        bottom: -102%;
        transform: rotate(219deg);
    }

    .road-map-line-3 {
        right: 54%;
        bottom: -87%;
        transform: rotate(162deg);
        animation-delay: 0.6s;
    }

    .road-map-line-4 {
        right: 48%;
        bottom: -72%;
        transform: rotate(21deg);
        animation-delay: 0.9s;
    }

    .name-this-shit-tower img{
        width: 40% !important;
    }

}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hidden-m-t {
        display: none !important;
    }

    body{
        background-size: auto 100%;
    }   

    .roadmap-item-text{
        background-color: #0000008d;
        border-radius: 13px;
    }

    .option-title{
        font-size: 14px;
    }

    #exampleModalVideo .modal-control{
        display: none;
    }

    .intro-gold{
        font-size: 17px !important;
    }

    .intro-content{
        margin-top: 40px;
    }

    .marketplace-cart,
    .marketplace-cart.cart-center,
    .marketplace-cart.active{
        transform: scale(1);
    }

    .marketplace-wrapper{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .marketplace-cart:nth-child(1) { order: 5; }
    .marketplace-cart:nth-child(2) { order: 2; }
    .marketplace-cart:nth-child(3) { order: 1; }
    .marketplace-cart:nth-child(4) { order: 3; }
    .marketplace-cart:nth-child(5) { order: 4; }
    
 
}

/* Mobile Only */
@media (max-width: 739px) {
    .hidden-m {
        display: none !important;
    }

    .paragraph {
        line-height: 26px;
        letter-spacing: 1px;
        font-size: 15px;
    }

    .binan-title img{
        width: 90%;
    }

    .wrapper-text{
        flex-direction: column;
        justify-content: center;
    }

    .value-item-icon img:first-child {
        width: 40%;
    }

    .value-item-icon img:nth-child(2) {
        width: 50%;
    }

    .value-item-icon img:last-child {
        width: 80%;
        animation-delay: 0.25s;
    }

    .roadmap-item-text{
        border-radius: 8px
    }

    .intro .title-primary-blue {
        font-size: 34px;
    }

    .marketplace-title{
        font-size: 22px;
    }

    .marketplace-cart{
        width: 50%;
        margin-top: 20px;
    }

    .marketplace-cart.active{
        transform: scale(1);
    }

    .marketplace .marketplace-cart-content-border{
        height: 140px;
        width: 140px;
    }

    .option-item{
        margin-top: 10px;
    }

    .option .col-md-3.col-6:nth-child(2n+2)::after{
        opacity: 0;
    }

    .value{
        padding: 30px 10px;
    }

    .value-item{
        font-size: 13px;
        padding: 0 4px;
    }

    .title-white{
        font-size: 25px;
    }

    .desc-white{
        font-size: 19px;
    }

    .option,
    .marketplace,
    .why{
        margin: 40px 0;
    }

    .intro-title{
        font-size: 19px;
    }

    .intro .title-white{
        text-align: center;
    }

    .intro-img{
        margin-top: 70px;
        text-align: center;
    }

    .intro-img-body{
        width: 300px;
    }

    .intro-desc{
        display: flex;
        flex-direction:column;
        justify-content: center;
        text-align: center;
    }
    .value-item-icon{
        bottom: -100%;
    }

    .value-item-icon--2{
        bottom: -180%;
    }

    .partner-item{
        width: 50%;
    }

    .roadmap-item{
        margin-bottom: 20px;
    }

    .roadmap-item-text{
        font-size: 10px;
    }

    .roadmap-item-img img{
        width: 100% ;
    }

    .roadmap-title img{
        width: 90%;
    }

    .video-title {
        font-size: 26px;
    }

    .value .roadmap-item-text{
        font-size: 10px;
        margin: 0 4px;
        padding: 5px 8px;
    }

    .value-item:nth-child(2) .value-item-text {
        padding-top: 110px;
    }

    .roadmap-item-img img{
        width: 70%;
    }

    .roadmap-content-mobile .roadmap-item--1,
    .roadmap-content-mobile .roadmap-item--3,
    .roadmap-content-mobile .roadmap-item--5{
       align-items: flex-start;
    }

    .roadmap-content-mobile .roadmap-item--1 .roadmap-item-img,
    .roadmap-content-mobile .roadmap-item--3 .roadmap-item-img,
    .roadmap-content-mobile .roadmap-item--5 .roadmap-item-img{
       display: flex;
       justify-content: start;
    }

    .roadmap-content-mobile .roadmap-item--2,
    .roadmap-content-mobile .roadmap-item--4{
       align-items: flex-end;
       transform: translate(0,0);
    }

    .roadmap-content-mobile .roadmap-item--2 .roadmap-item-img,
    .roadmap-content-mobile .roadmap-item--4 .roadmap-item-img{
        display: flex;
        justify-content: end;
    }

    .road-map-line{
        height: 110%;
    }

    .road-map-line-1 {
        right: 58%;
        bottom: -61%;
        transform: rotate(159deg);
    }

    .road-map-line-2 {
        right: 45%;
        bottom: -61%;
        transform: rotate(203deg);
    }

    .road-map-line-3 {
        right: 54%;
        bottom: -87%;
        transform: rotate(162deg);
        animation-delay: 0.6s;
    }

    .road-map-line-4 {
        right: 48%;
        bottom: -72%;
        transform: rotate(21deg);
        animation-delay: 0.9s;
    }

    .roadmap-item-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .name-this-shit-tower img{
        width: 10%;
    }

    .name-this-shit-tower{
        top: 22%;
        right: 38.98%;
    }
}

/* 500*/
@media (min-width: 500px) and (max-width: 742px) {
    .hidden-500plus {
        display: none !important;
    }
}


@media (max-width: 500px) {
    .hidden-500{
        display: none !important;
    }
}


@media (max-width: 375px) {
    .main-content{
        width: 100% !important;
    }
}

