
/* PC only */

@media (min-width: 1024px) {
    .hide-on-pc {
        display: none !important;
    }

}

/* Tablet to PC low resolution */
@media (min-width: 985px) and (max-width: 1200px) {
    
}

/* Tablet Only */

@media (min-width: 740px) and (max-width: 1023px) {
    .hidden-tl{
        display: none !important;
    }

    .marketplace-wrapper{
        flex-wrap: wrap;
    }

    .marketplace-cart{
        width: 50%;
        margin-top: 20px;
    }

    .marketplace-cart.active{
        transform: scale(1);
    }

    .marketplace .marketplace-cart-content-border{
        height: 260px;
        width: 260px;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hidden-m-t {
        display: none !important;
    }

    body{
    background-size: auto 100%;
    }   
}

/* Mobile Only */
@media (max-width: 739px) {
    .hidden-m {
        display: none !important;
    }

    .marketplace-title{
        font-size: 22px;
    }

    .marketplace-wrapper{
        flex-wrap: wrap;
    }

    .marketplace-cart{
        width: 50%;
        margin-top: 20px;
    }

    .marketplace-cart.active{
        transform: scale(1);
    }

    .marketplace .marketplace-cart-content-border{
        height: 140px;
        width: 140px;
    }

    .option-item{
        margin-top: 10px;
    }

    .option .col-md-3.col-6:nth-child(2n+2) .option-item::after{
        opacity: 0;
    }

    .value{
        padding: 30px 10px;
    }

    .value-item{
        font-size: 13px;
        padding: 0 4px;
    }

    .title-white{
        font-size: 25px;
    }

    .desc-white{
        font-size: 19px;
    }

    .option,
    .marketplace,
    .why{
        margin: 40px 0;
    }

    .intro-title{
        font-size: 25px;
    }

    .intro .title-white{
        text-align: center;
    }

    .intro-img{
        margin-top: 70px;
        text-align: center;
    }

    .intro-img img{
        width: 300px;
    }

    .intro-desc{
        display: flex;
        flex-direction:column;
        justify-content: center;
        text-align: center;
    }

    .value-item-icon--2{
        bottom: -140%;
    }
}

/* 500*/
@media (min-width: 500px) and (max-width: 742px) {
    .hidden-500plus {
        display: none !important;
    }
}


@media (max-width: 500px) {
    .hidden-500{
        display: none !important;
    }
}


@media (max-width: 375px) {
    .main-content{
        width: 100% !important;
    }
}
